<ul class="flex justify-evenly bg-violet-300 font-semibold p-3">
       <a href="/"><li>home</li></a> 
       <a href="/about"><li>about</li></a> 
       <a href="/contact"><li>contact</li></a> 
       <a href="/gallery"><li>gallery</li></a> 
</ul>
